#domaine {
  height: 100vh;
  padding-top: 10vh;
  display: block;
}

#lieu {
  background-color: #9c5845;
  padding-bottom: 3%;
  border-radius: 5px;
}

#lieu1 {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f9d5bb;
}

#button {
  background-image: url(https://zupimages.net/up/22/28/uy81.jpg);
  color: #ffeecc;
}
